<div class="login">
        <form class="login-form">
          <h1>Login</h1>
            <div class="field">
                <label for="">Username</label>
                <input type="text" placeholder="username">
            </div>
            <div class="field">
              <label for="">Password</label>
              <input  type="password" placeholder="password">
            </div>
                <div class="btn"><button class="btn">Login</button>
               	</div>      
        </form>
</div>